.inputWrapperPassword {
    position: relative;
    margin-bottom: 1rem;
}

.inputPassword {
    width: 100%;
    height: 4.25rem;
    margin-bottom: 1rem;
    border: 1px solid #E9ECEF;
    border-radius: 1rem;
    padding-left: 4rem;
    padding-top: 1.5rem;
}

.inputIcon {
    position: absolute;
    left: 1.3rem;
    top: 1.2rem;
    width: 1.5rem;
    height: 1.6rem;
}

.showPasswordButton {
    position: absolute;
    right: 1.3rem;
    top: 40%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #8B8B8B;
}

.inputLabel {
    position: absolute;
    left: 4rem;
    top: 20%;
    color: #20130B;
}

.inputLabel.filled {
    top: 0.5rem;
    font-size: 0.75rem;
    color: #8B8B8B;
}

.togglePassword {
    width: 1.9rem;
    height: 2rem;
}

.invalidInput {
    border: 2px solid red;
}

.errorMessage {
    color: red;
    font-size: 0.75rem;
    margin-top: 0.5rem;
}
  